In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

path = Path("../data/raw/tmdb_6000")

files = [
    "tmdb_6000_movie_dataset.csv",
    "tmdb_6000_movie_credits.csv",
    "tmdb_6000_movie_ratings.csv"
]

for f in files:
    print("\n==============================")
    print("FILE:", f)
    print("==============================")
    df = pd.read_csv(path / f, nrows=200)   
    
    print("Shape (first 200 rows):", df.shape)
    print("\nColumns:")
    print(df.columns.tolist())
    
    print("\nHead (2 rows):")
    display(df.head(2))
    
    print("\nMissing values (first 200 rows):")
    print(df.isna().sum().sort_values(ascending=False).head(10))

==============================
FILE: tmdb_6000_movie_dataset.csv
==============================
Shape (first 200 rows): (200, 21)

Columns:
['Unnamed: 0', 'budget', 'genres', 'homepage', 'tmdbId', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']

Head (2 rows):

,Unnamed: 0,budget,genres,homepage,tmdbId,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

Missing values (first 200 rows):
homepage             47
tagline               6
Unnamed: 0            0
genres                0
budget                0
tmdbId                0
keywords              0
original_title        0
original_language     0
popularity            0
dtype: int64

==============================
FILE: tmdb_6000_movie_credits.csv
==============================
Shape (first 200 rows): (200, 4)

Columns:
['Unnamed: 0', 'tmdbId', 'cast', 'crew']

Head (2 rows):

,Unnamed: 0,tmdbId,cast,crew
0,0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

Missing values (first 200 rows):
Unnamed: 0    0
tmdbId        0
cast          0
crew          0
dtype: int64

==============================
FILE: tmdb_6000_movie_ratings.csv
==============================
Shape (first 200 rows): (200, 4)

Columns:
['tmdbId', 'userId', 'rating', 'timestamp']

Head (2 rows):

   tmdbId  userId  rating            timestamp
0   19995    10.0     3.5  2015-05-03 15:28:22
1   19995    14.0     3.5  2011-07-24 18:47:52

Missing values (first 200 rows):
tmdbId       0
userId       0
rating       0
timestamp    0
dtype: int64